.layout {
    display: flex;
}

.category-container {
    /* To normalize dynamic lineChart height */
    min-height: 350px;
}

@media (min-width: 1000px) {
    .category-container {
        display: flex;
    }
}
