.modalBackground {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    background-color: var(--purple-transparent);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.arrowContainer {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 30px;
    transition: all 0.3s ease-out;
}
.arrowContainer:hover {
    background-color: black;
    color: white;
}
.left {
    left: 0;
}
.right {
    right: 0;
}
.arrow {
    text-align: center;
    font-size: 30px;
}

.modal {
    position: relative;
    background-color: white;
    border: 3px solid black;
    margin: 20px 40px;
    overflow: hidden;
}

.image {
    display: none;
    max-width: 100%;
}

.image:nth-child(3) {
    display: block;
}
