.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.title {
}

.contents {
    padding-left: 40px;
    max-width: 300px;
}

.container {
    display: flex;
}

.date {

}

.data {
    width: 150px;
}

.description {
    max-width: 600px;
    padding-bottom: 20px;
}
