<nav class="sidebar-container">
    <div class="sidebar">
        <a href="/">
            <header class="header header-small color-white text-huge">
                <h2 class="drop-diagonal">WTF</h2>
            </header>
        </a>
        <ul class="margin-top-30 margin-left-20 font-amaranth">
            {% for item in site.data.navigation %}
            <li class="margin-bottom-10">
                <a class="text-medium text-right color-gray" href="{{ item.url }}">{{ item.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
