body {
    font-family: $font-family;
    background: $color-white;
    color: $color-gray;
}

.wrapper {
    max-width: 810px;
    margin: auto;
    min-height: calc(100vh - 60px);
}

.section {
    margin: 30px 0;
    height: calc(100% - 60px);
    position: relative;
}
