.header {
    overflow: hidden;
    animation: stripe-move 1s linear infinite;
    background-image:
      repeating-linear-gradient(
        90deg,
        $color-gray,
        $color-gray $stripe-width-half,
        $color-white $stripe-width-half,
        $color-white $stripe-width);
}

.header-big {
    padding: 50px 120px 150px 120px;
}

.header-small {
    > .drop-diagonal {
        width: 180px;
        height: 180px;
        padding: 20px;
    }
}

.drop-diagonal {
    @include text-shadow(longdrop($color-gray, $color-gray, 400));
}

.drop-darken {
    @include text-shadow(longdrop($color-darken, $color-darken, 150));
}
