.hover-black {
    transition: color 0.1s ease-out, text-shadow 0.1s ease-out;
    &:hover {
        text-shadow: 1px 1px 0px $color-white;
    }
}

.search-main {
    border: none;
    font-size: 1.5em;
    font-family: 'Fira Sans';
}
