$color-light-gray: #CBCBCB;
$color-gray: #222;
$color-black: #000;
$color-white: #fff;

$color-red: #D32F2F;
$color-pink: #C2185B;
$color-purple: #7B1FA2;
$color-deep-purple: #512DA8;
$color-indigo: #303F9F;
$color-blue: #1976D2;
$color-light-blue: #0288D1;
$color-cyan: #0097A7;
$color-teal: #00796B;
$color-green: #388E3C;
$color-light-green: #689F38;
$color-lime: #AFB42B;
$color-yellow: #FBC02D;
$color-amber: #FFA000;
$color-orange: #F57C00;
$color-deep-orange: #E64A19;

// Duplicate, but it works
$color-list: 'red', 'pink', 'purple', 'deep-purple', 'indigo', 'blue', 'light-blue', 'cyan', 'teal', 'green',
    'light-green', 'lime', 'yellow', 'amber', 'orange', 'deep-orange';
$color-values: #D32F2F, #C2185B, #7B1FA2, #512DA8, #303F9F, #1976D2, #0288D1, #0097A7, #00796B, #388E3C,
    #689F38, #AFB42B, #FBC02D, #FFA000, #F57C00, #E64A19;
